.btn{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    color: white;
    font-weight: bold;
    padding: 19px 28px;
}

.job{
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}