.btn{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    color: white;
    font-weight: bold;
    padding: 19px 28px;
}

.banner-right img{
    height: 350px;
}

.banner-left{
    width: 60%;
    text-align: left;
    text-decoration: none;
}
.banner-left p{
    width: 60%;
}
.title{
    text-decoration: none;
    line-height: 25px;
}

.span{
    background: linear-gradient(
            to right, #7E90FE
            , #9873FF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.banner{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.category, .featured-job{
    margin-top: 90px;
}
.category-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 40px;

}

.job-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 30px;
    text-align: left;
}

.see-all{
    margin-top: 50px;
}

@media only screen and (max-width: 768px){
    .banner{
        margin-right: 20px;
        margin-bottom: 0;
        max-width: 50%;
    }
    .category-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-top: 30px;
    
    }
}